body {
    margin:0px;
    padding:0px;
    background-color: #000;
}

.flex {
    justify-content: center;
    align-items: center;
    display: flex;
}

#view {
    height: 100vmin;
    width: 100vmin;
}
